default: &default
  adapter: postgresql
  encoding: utf8
  host: db
  username: user
  password: password
  port: 5432
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: app_development

test:
  <<: *default
  database: app_test

# production:
#   <<: *default
#   database: app_production
#   username: app
#   password: <%= ENV["APP_DATABASE_PASSWORD"] %>
