@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #262626;
    --card: #ffffff;
    --card-foreground: #262626;
    --popover: #ffffff;
    --popover-foreground: #262626;
    --primary: #ff8f56;
    --primary-foreground: #faf6e6;
    --secondary: #f4f3e6;
    --secondary-foreground: #261d1a;
    --muted: #f4f3e6;
    --muted-foreground: #6f6762;
    --accent: #f4f3e6;
    --accent-foreground: #261d1a;
    --destructive: #d42828;
    --destructive-foreground: #faf6e6;
    --border: #e7dfd9;
    --input: #e7dfd9;
    --ring: #ff8f56;
    --radius: 0.5rem;
    --chart-1: #e94e20;
    --chart-2: #288c63;
    --chart-3: #3a4a61;
    --chart-4: #ecad44;
    --chart-5: #f3a024;
  }

  .dark {
    --background: #262626;
    --foreground: #faf6e6;
    --card: #262626;
    --card-foreground: #faf6e6;
    --popover: #262626;
    --popover-foreground: #faf6e6;
    --primary: #d8550c;
    --primary-foreground: #faf6e6;
    --secondary: #2a231f;
    --secondary-foreground: #faf6e6;
    --muted: #2a231f;
    --muted-foreground: #655c58;
    --accent: #2a231f;
    --accent-foreground: #faf6e6;
    --destructive: #a12626;
    --destructive-foreground: #faf6e6;
    --border: #2a231f;
    --input: #2a231f;
    --ring: #d8550c;
    --chart-1: #3399cc;
    --chart-2: #398673;
    --chart-3: #ffb352;
    --chart-4: #a84b99;
    --chart-5: #da396c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
}