@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #262626;
    --card: #ffffff;
    --card-foreground: #262626;
    --popover: #ffffff;
    --popover-foreground: #262626;
    --primary: #ff8f56;
    --primary-foreground: #fafafa;
    --secondary: #fff8f2;
    --secondary-foreground: #ff8f56;
    --muted: #fff8f2;
    --muted-foreground: #737373;
    --accent: #fff8f2;
    --accent-foreground: #ff8f56;
    --destructive: #FF5959;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #262626;
    --chart-1: #e94e20;
    --chart-2: #289176;
    --chart-3: #2e4d6b;
    --chart-4: #eda742;
    --chart-5: #f39727;
    --radius: 0.5rem;
  }
  .dark {
    --background: #262626;
    --foreground: #fafafa;
    --card: #262626;
    --card-foreground: #fafafa;
    --popover: #262626;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #ff8f56;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a2a2a2;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #722626;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #3383cc;
    --chart-2: #398673;
    --chart-3: #ffb352;
    --chart-4: #a84b99;
    --chart-5: #da396c;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
