@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #262626;
    --card: #ffffff;
    --card-foreground: #262626;
    --popover: #ffffff;
    --popover-foreground: #262626;
    --primary: #ff8f56;
    --primary-darker: #ff8f56;
    --primary-foreground: #ffffff;
    --secondary: #fff8ec;
    --secondary-foreground: #261d1a;
    --muted: #fff8ec;
    --muted-foreground: #6f6762;
    --accent: #fff8ec;
    --accent-foreground: #261d1a;
    --destructive: #FF5959;
    --destructive-foreground: #ffffff;
    --border: #e7dfd9;
    --input: #e7dfd9;
    --ring: #ff8f56;
    --radius: 0.5rem;
    --chart-1: #e94e20;
    --chart-2: #288c63;
    --chart-3: #3a4a61;
    --chart-4: #ecad44;
    --chart-5: #f3a024;
  }

  .dark {
    --background: #262626;
    --foreground: #ffffff;
    --card: #262626;
    --card-foreground: #ffffff;
    --popover: #262626;
    --popover-foreground: #ffffff;
    --primary: #ff8f56;
    --primary-foreground: #ffffff;
    --secondary: #2a231f;
    --secondary-foreground: #ffffff;
    --muted: #2a231f;
    --muted-foreground: #655c58;
    --accent: #2a231f;
    --accent-foreground: #ffffff;
    --destructive: #FF5959;
    --destructive-foreground: #ffffff;
    --border: #2a231f;
    --input: #2a231f;
    --ring: #ff8f56;
    --chart-1: #3399cc;
    --chart-2: #398673;
    --chart-3: #ffb352;
    --chart-4: #a84b99;
    --chart-5: #da396c;
  }

  h1 { @apply text-2xl md:text-3xl font-bold }

  h2 { @apply text-xl md:text-2xl font-bold }

  h3 { @apply text-lg font-bold }

  p { @apply text-sm md:text-base }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif,"Segoe UI Emoji";
  color: #262626;
}